<%- include('partials/header') -%>

<section class="heading-page header-text" id="top">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h6>.</h6>
        <h2>.</h2>
      </div>
    </div>
  </div>
</section>

<section>
<div class="signupContainer">

  <div class="gotempBox">

    
    <div class="down-content">
      <h4>Edit</h4>
       <p>Update song information</p>
     </div>

    <form action="/post/edit/<%= post.id %>?_method=PUT" method="POST">

      <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <textarea class="form-control" id="title" name="title"><%= post.title %></textarea>
      </div>

      <div class="mb-3">
        <label for="artist" class="form-label">Artist</label>
        <textarea class="form-control" id="artist" name="artist"><%= post.artist %></textarea>
      </div>

      <div class="mb-3">
        <label for="writers" class="form-label">Writers</label>
        <textarea class="form-control" id="writers" name="writers"><%= post.writers %></textarea>
      </div>

      <div class="mb-3">
        <label for="composers" class="form-label">Composers</label>
        <textarea class="form-control" id="composers" name="composers"><%= post.composers %></textarea>
      </div>

      <div class="mb-3">
        <label for="release" class="form-label">Release Date</label>
        <textarea class="form-control" id="composers" name="release"><%= post.release %></textarea>
      </div> 
      
      <button type="submit" class="main-button-yellow" value="Upload">Submit</button>
    </form>


    
   
  </div>
</div>


</div>
</section>



<%- include('partials/footer') -%>