<%- include('partials/header') -%>
<section class="heading-page header-text" id="top">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h6>.</h6>
        <h2>.</h2>
      </div>
    </div>
  </div>
</section>

<section class="meetings-page" id="meetings">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-12">
            <div class="meeting-single-item">
              
              <div class="down-content">
                <a href="meeting-details.html"><h4> <%= user.userName %>'s Tracks</h4></a>
                <p> <%= user.email %> </p>
                <p class="description">
                  manage tracks
                </p>
                  






                <div class="container">
                  <div class="row mt-5">
                      <div class="col-6">
                          
                          <div class="mt-5">
                            <h2>Add a song</h2>
                            <form action="/post/createPost" enctype="multipart/form-data" method="POST">
                
                              <div class="mb-3">
                                <label for="file" class="form-label">.mp3</label>
                                <input type="file" class="form-control" id="file" name="file">
                              </div>
                
                              <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
                            </form>
                          </div>
                      </div>
                      <div class="col-6">
                        <ul class="row list-unstyled">
                        <% for(var i=0; i<posts.length; i++) {%>
                          <li class="col-6 justify-content-between mt-5">
                            <a href="/post/<%= posts[i]._id%>">
                              <img class="img-fluid" src="<%= posts[i].image%>">
                            </a>
                
                            <form action="/post/edit/<%= posts[i]._id%>" enctype="multipart/form-data" method="GET">
                            <button type="submit" class="btn btn-primary" value="Edit">edit</button>
                            </form>
                
                            <form action="/post/deletePost/<%= posts[i].id%>?_method=DELETE" method="POST"
                            class="col-3">
                            <button class="btn btn-primary fa fa-trash" type="submit"></button>
                            </form>
                            
                          </li>
                        <% } %>
                        
                        </ul>
                    
                      </div>  
                    </div>
                  </div>
                </div>




            </div>
          </div>
          <div class="col-lg-12">
            <div class="main-button-red">
              <a href="/logout">Log Out</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<%- include('partials/footer') -%>